<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mti.com.videodiary">

    <!--user permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:name="com.mti.videodiary.application.VideoDiaryApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.mti.videodiary.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/VideoDailyNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mti.videodiary.activity.MenuActivity"
            android:theme="@style/MyNavigationDrawerTheme"
            android:configChanges="orientation|screenSize"></activity>

        <activity
            android:name="com.mti.videodiary.activity.CreateVideoNoteActivity"
            android:theme="@style/VideoDailyActionBar"
            android:label="@string/create_video_note"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"></activity>


        <activity
            android:name="com.mti.videodiary.activity.CreateNoteActivity"
            android:theme="@style/NoteDailyActionBar"
            android:label="@string/create_note"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"></activity>

        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.mti.videodialy.activity.MenuActivity" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

    </application>


</manifest>
